@model SoftDesign.Library.Cross.Core.ViewModels.BookListViewModel
@{
    ViewBag.Title = "Books";
}

<h2>Books list</h2>


@using (Html.BeginForm())
{
    <label>Filter</label>
    @Html.TextBoxFor(x => x.SearchQuery, new { @class = "form-control" })
    <br />
    <button type="submit" class="default-btn primary"><i class="fas fa-magnifying-glass default-btn-icon"></i> Search</button>
    <a href="/books/edit" class="default-btn primary"><i class="fas fa-plus default-btn-icon"></i> Add new book</a>
}
<br />
<div class="table-container">
    <table class="main-table">
        <thead>
            <tr>
                <th>Details</th>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Rented</th>
                <th>Renter</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.BookList.ToList())
            {
                <tr>
                    <td data-label="View"><a class="main-btn" href="/Books/Edit?id=@book.Id"><i class="fas fa-magnifying-glass"></i></a></td>
                    <td data-label="Title">@book.Title</td>
                    <td data-label="Author">@book.Author</td>
                    <td data-label="ISBN">@book.Isbn</td>
                    <td data-label="Rent status">
                        @if (book.IsRented)
                        {
                            <span class="status status-inactive">Rented</span>
                        }
                        else
                        {
                            <span class="status status-active">Not rented</span>
                        }
                    </td>
                    <td data-label="Renter username">@(book.RenterUsername)</td>
                    <td data-label="Action">
                        @if (book.IsRented)
                        {
                            <form action="@Url.Action("ReturnBook", "Books")" method="post" style="display:inline;">
                                <input type="hidden" name="bookId" value="@book.Id" />
                                <button type="submit" class="main-btn">
                                    <i class="fas fa-arrow-rotate-left"></i> RETURN
                                </button>
                            </form>
                        }
                        else
                        {
                            <form action="@Url.Action("RentBook", "Books")" method="post" style="display:inline;">
                                <input type="hidden" name="bookId" value="@book.Id" />
                                <button type="submit" class="main-btn">
                                    <i class="fas fa-hand-holding-medical"></i> RENT
                                </button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>